
<style>
    body{
        
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100vh;          /* Makes the body fill the full height of the viewport */
    margin: 0;  
}
    img{
        height: 400px;
        width: 400px;
        border: 2px solid red;
        border-radius: 50%;
    }
    h1{
        margin-left: 50px;
        color: red;
        align-items: center;
    }
    h5{
        margin-left: 115px !important;
    }
    
</style>

<div class="welcome">
    <h1>Welcome to wonderlust</h1>
    <h5>Click image to exlore world</h5>
   
    <a href="/listings" class="btn btn2 btn-outline-danger "> <img src=" https://media.istockphoto.com/id/1032162888/vector/world-travel.jpg?s=612x612&w=0&k=20&c=stSu4RoEF8uL-YN985s8vrsZ2afWCEZSJJZxXBy_aGg= " alt=""></a>


</div>
